html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 20%;
  background: seagreen;
}

.road {
  height: 40%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}
.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  animation: Drive 5s ease-in 0.3s infinite,
    jump 0.3s 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation: Drive 7s ease-in 0.3s infinite;
}
@keyframes Drive {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
.cloud {
  position: absolute;
}
.cloud:nth-child(1) {
  width: 200px;
  top: 100px;
  opacity: 0.5;
  animation: wind 50s infinite reverse;
}
.cloud:nth-child(2) {
  width: 300px;
  top: 0px;
  animation: wind 80s infinite;
}
@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
