.sky {
  width: 100%;
  height: 500px;
  background-color: rgb(13, 122, 136);
  position: absolute;
}
.sky .sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(231, 209, 13);
  position: absolute;
  left: 10px;
  top: 50px;
}
@keyframes slidein {
  from {
    left: 0px;
  }
  to {
    left: 98%;
  }
}
.sky:hover .sun {
  animation: slidein 3s ease-in 0.3s infinite alternate;
}
