.circle {
  background-color: rgb(7, 101, 114);
  height: 300px;
  width: 300px;
  border: 5px solid rgb(10, 61, 138);
  border-radius: 300px;
  transition-property: width height border-radius;
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 1s;
  position: fixed;
  transform: translate(550px, 220px);
}
.circle:hover {
  height: 500px;
  width: 500px;
  border-radius: 600px;
  display: inline-block;
  position: fixed;
}
.circle2 {
  background-color: rgb(13, 190, 102);
  height: 200px;
  width: 200px;
  border: 3px solid rgb(9, 138, 155);
  border-radius: 200px;
  transition-property: width height border-radius;
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 1s;
  position: absolute;
  margin-top: 45px;
  margin-left: 45px;
  position: absolute;
}
.circle2:hover {
  height: 300px;
  width: 300px;
  border-radius: 400px;
  display: inline-block;
  position: fixed;
}
