.field .box1 .car1 {
  position: relative;
  top: 300px;
  width: 220px;
  height: 100px;
  transition-property: position;
  transition-duration: 10s;
  transition-timing-function: ease-in;
}
.field .box2 .car2 {
  position: relative;
  top: 200px;
  left: 1300px;
  width: 220px;
  height: 100px;
  transition-property: position;
  transition-duration: 10s;
  transition-timing-function: ease-in;
}
.field:hover .box1 .car1 {
  position: relative;
  left: 640px;
}
.field:hover .box2 .car2 {
  position: relative;
  left: 660px;
}
