.Outbox {
  background-color: darkslategrey;
  width: 200px;
  height: 200px;
  margin: 50px;
}
.Outbox .inbox {
  background-color: dodgerblue;
  width: 100px;
  height: 100px;
  transform: translateY(50px);
  margin-top: 50px;
  margin-left: 50px;
  border: 5px solid blue;
  border-radius: 70px;
}
.Outbox .inbox .btn {
  border: 0.5px solid whitesmoke;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 1px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
  width: 60%;
}
.Outbox .inbox .btn:hover {
  transform: scale(1.25);
}
.mainbox {
  height: 600px;
  width: 300px;
  margin: 50px;
  overflow: scroll;
  position: relative;
  display: inline-block;
}
.mainbox2 {
  margin-top: 50px;
  margin-left: 10px;
  position: absolute;
  width: 25%;
  height: 600px;
  display: inline-block;
}
.mainbox2 .w3-card .img {
  height: 200px;
  width: 100%;
}
.mainbox2 .w3-card {
  margin-bottom: 20px;
}
.mainbox3 .w3-card {
  margin-bottom: 20px;
}
.mainbox3 {
  margin-top: 50px;
  margin-left: 450px;
  position: absolute;
  width: 25%;
  height: 600px;
  display: inline-block;
}
.mainbox3 .w3-card .img {
  height: 200px;
  width: 100%;
}
